<app-navbar></app-navbar>
<div class="container my-5">

    <div class="row">
        <div class="col">
            <h1>People List</h1>
            <button class="btn btn-primary my-3" [routerLink]="['/add-user']">Add</button>
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
    <th>id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>phone</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let people of peopleList; let i=index">
           <th>{{ i+1 }}</th>  
           <td>{{ people.firstName }}</td> 
           <td>{{ people.lastName }}</td>  
           <td>{{ people.phone }}</td>  
           <td>
            <button class="btn btn-info">Détail </button>
            <button class="btn btn-warning mx-2 " [routerLink]="['/update-user',people.id]">Modifier </button>
            <button class="btn btn-danger"  (click)="delete(people)">Supprimer </button>

        </td>
      </tr> 
  </tbody>
</table>


    
         